/* Снэк-бар - расположите ее внизу и в середине экрана */
.snackbar {
    visibility: visible; /* Скрыто по умолчанию. Видимый по щелчку мыши */
    min-width: 250px; /* Установите минимальную ширину по умолчанию */
    margin-left: -125px; /* Разделите значение min-width на 2 */
    background-color: #333; /* Черный цвет фона */
    color: #fff; /* Белый цвет текста */
    text-align: center; /* Центрированный текст */
    border-radius: 2px; /* Округленные границы */
    padding: 16px; /* Отступ */
    position: fixed; /* Сядьте на верхнюю часть экрана */
    z-index: 1; /* Добавить z-индекс при необходимости */
    left: 10%; /* Центр, снэк-бар */
    bottom: 30px; /* 30 пикселей снизу */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.red {
    background: crimson;
}
/* Анимация, чтобы исчезать снэк-бар в и из */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}